@charset "utf-8";

@media screen and (min-width: 800px) and (max-width: 1600px) {
	body {
		font-size: 0.65em;
	}

	#right_div {
		padding: 0;
		margin: -1% 2.5% 0 0;

	}

	#meta_div {
		background: #94CCED;
		margin: 2.5% 0 0 0;
		padding: 10px;
		text-align: center;
	}


	#meta_div img {
		height: 50px;
		width: auto;
	}
	
	#right_div .left_link_nearest { 
		height: 20px;
		margin-top: 0;
		padding-top: 10px;
		background-size: 30px 30px;
	}

	#right_div .right_link_expired {
		height: 20px;
		margin-top: 0;
		padding-top: 10px;
		background-size: 30px 30px;
	}
	
	#right_div .left_link_nearest h4 {
		margin-top: 0px;
	}
	
	#right_div .right_link_expired h4 {
		margin-top: 0px;
	}

	#search_box {
		height: 30px;
		margin: 2.5% 0 0 0;
		padding-top: 0;	
	}

	#search_box input {
		background: #FFFFFF;
		width: 87.5%;
		border: none;
		height: 30px;
		font-size: 2em;
		background: url('../images/search-back.png') no-repeat;
		background-size: 30px 30px;
		padding: 0 0 0 12.5%;
	}

	#db_results {
		margin: 5% auto 0 auto;	
	}

	#right_div {
		right: 3.5%;
		top: 4%;
	}

	#legend {
		padding: 10px;
		width: 20%;
		font-size: 1.05em;
	}

	#legend img {
		width: 40px;
		padding: 0;
	}

	#legend .picture-holder {
		width: 20px; 
		float: left;
	}

	#legend .paragraph-holder {
		float: left; 
		padding: 25px 10px 10 30px;
	}

	#db_results .est_name {
		width: 90%;
		padding: 10px;
		border: 1px solid #000000;
	}

	#db_results .view_more a {
		float: right;
		padding: 0px 0px 10px 0px;
		margin-bottom: 10px;
	}

	#percent_box_base {
		width: 100%;
		height: 40px;
		margin: 20px auto;
	}

	#percent_sat {
		float: left;
		height: 100%;
		text-align: center;
	}

	#percent_sat p {
		padding: 1em 0;
	}

}

@media screen and (min-width: 150px) and (max-width: 600px) {
	#right_div {
		display: none;
	}

	#legend {
		width: 90%;
		padding: 5%;
		bottom: 0;
		visibility: hidden;
	}


}
