@charset "utf-8";

@media screen and (min-width: 800px) and (max-width: 1600px) {
	body {
		font-size: 0.75em;
	}

	#meta_div {
		background: #94CCED;
		margin: 5% 0 0 0;
		padding: 20px;
	}

	#meta_div img {
		height: 100%;
		margin-top: -10px;
	}

	#right_div {
		right: 3.5%;
		top: 4%;
	}

	#legend {
		padding: 20px;
		width: 20%;
	}

	#legend img {
		width: 40px;
		padding: 0;
	}

	#legend .picture-holder {
		width: 20px; 
		float: left;
	}

	#legend .paragraph-holder {
		float: left; 
		padding: 25px 10px 10 30px;
	}

	#db_results .est_name {
		width: 90%;
		padding: 10px;
		border: 1px solid #000000;
	}

	#db_results .view_more a {
		float: right;
		padding: 0px 0px 10px 0px;
		margin-bottom: 10px;
	}

	#percent_box_base {
		width: 100%;
		height: 40px;
		margin: 20px auto;
	}

	#percent_sat {
		float: left;
		height: 100%;
		text-align: center;
	}

	#percent_sat p {
		padding: 1em 0;
	}

}

@media screen and (min-width: 150px) and (max-width: 600px) {
	#right_div {
		display: none;
	}

	#legend {
		width: 90%;
		padding: 5%;
		bottom: 0;
	}


}