@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700|Roboto:400,700&display=swap');


* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

#map {
    height: 100%;
    margin: 0 auto;
}

.info-window {
	padding: 10px;
}

.info-window h4, p {
	padding: 1px;
}

.info-window a {
	color: #2E8CFF;
	float: right;
}

.info-window a:hover {
	color: #606060;
}

#right_div {
	position: absolute;
	top: 2.5%;
	right: 2.5%;
	height: 95%;
	width: 22.5%;
	z-index: 100;
}

#right_div .left_link_nearest {
	position: relative;
	top: 0;
	font-size: 100%;
	left: 0;
	height: 60px;
	background: url('../images/nearest.png') no-repeat #3C97D3;
	text-align: center;
	color: #FFFFFF;
	width: 47.5%;
	display: inline-grid;
}

#right_div .left_link_nearest h4 {
	margin: 20px 0 0 10px;
}

#right_div .right_link_expired {
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	background: url('../images/expired.png') no-repeat #3C97D3;
	text-align: center;
	color: #FFFFFF;
	width: 47.5%;
}

#right_div .right_link_expired h4 {
	margin: 20px 0 0 10px;
}

#meta_div {
	background: #94CCED;
	margin: 5% 0 0 0;
	padding: 0;
}

#meta_div img {
	width: 100%;
	margin-top: -10px;
}

#meta_div h1 {
	text-align: center;
	color: #FFFFFF;
}

#search_box {
	width: 100%;
	margin: 5% 0 0 0;
	height: 60px;
	background: #FFFFFF;
}

#search_box input {
	background: #FFFFFF;
	width: 87.5%;
	border: none;
	height: 59px;
	font-size: 2em;
	background: url('../images/search-back.png') no-repeat;
	padding-left: 12.5%;
}

#db_results {
	width: 90%;
	padding: 5%;
	height: auto;
	margin: 5% 0 0 0;
	background: #FFFFFF;
}

#db_results .est_name {
	width: 90%;
	padding: 5%;
	border: 1px solid #000000;
	margin: 20px 0;
}

#db_results .view_more a {
	float: right;
	padding: 0px 0px 5px 0px;
	margin-bottom: 10px;
	text-decoration: none;
	color: #FF8C00;
}

#db_results .view_more a:hover {
	color: #3C97D3;
}

#db_results h1 {
	color: #FF8C00;
}

#percent_box_base {
	width: 100%;
	height: 50px;
	margin: 10px auto;
	background: #F1EFE9;
}

#percent_sat {
	float: left;
	height: 100%;
	text-align: center;
}

#percent_sat p {
	padding: 1em 0;
}

#legend {
	position: absolute;
	bottom: 50px;
	left: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.3);
	padding: 20px 20px 30px 20px;
}

#legend img {
	width: 50px;
	padding: 100px 0 10 0;
}

#legend .picture-holder {
	width: 20px; 
	float: left;
}

#legend .paragraph-holder {
	float: left; 
	padding: 15px 10px 10px 30px;
}























/*Other Stuff*/
.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
}